Repository Lameck1/mwingi-school-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx markdownlint-cli --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "npx markdownlint-cli --fix",
    "git add"
  ]
}

Delete obsolete files
  AUDIT_REPORT.md
  changes.txt
  full_git_status.txt
Due: npx markdownlint-cli --fix

Delete obsolete file
  REMEDIATION_CHECKLIST.md
Due: npx markdownlint-cli --fix

build: improve code quality and security policies
  .github/workflows/build.yml
  .lintstagedrc.json
  eslint.config.js
  package.json
  vitest.config.ts
Due: eslint --fix

feat(database): add data retention and improve security
  electron/main/database/index.ts
  electron/main/database/migrations/incremental/1016_migrate_sms_credentials.ts
  electron/main/database/migrations/incremental/1017_data_retention_policy.ts
  electron/main/database/migrations/index.ts
Due: eslint --fix

feat(ipc): implement role-based access control
  electron/main/ipc/audit/audit-handlers.ts
  electron/main/ipc/backup/backup-handlers.ts
  electron/main/ipc/finance/bank-handlers.ts
  electron/main/ipc/finance/budget-handlers.ts
  electron/main/ipc/finance/finance-handlers.ts
  electron/main/ipc/finance/fixed-asset-handlers.ts
  electron/main/ipc/finance/gl-account-handlers.ts
  electron/main/ipc/finance/invoice-handlers.ts
  electron/main/ipc/finance/payment-handlers.ts
  electron/main/ipc/finance/period-handlers.ts
  electron/main/ipc/finance/scholarship-handlers.ts
  electron/main/ipc/messaging/message-handlers.ts
  electron/main/ipc/payroll/payroll-handlers.ts
  electron/main/ipc/settings/settings-handlers.ts
  electron/main/ipc/staff/staff-handlers.ts
  electron/main/ipc/student/student-handlers.ts
  electron/main/ipc/transactions/__tests__/transactions-handlers.test.ts
  electron/main/ipc/transactions/transactions-handlers.ts
Due: eslint --fix

refactor(services): improve security and notification service
  electron/main/services/BackupService.ts
  electron/main/services/ConfigService.ts
  electron/main/services/MessageService.ts
  electron/main/services/notifications/EmailService.ts
  electron/main/services/notifications/NotificationService.ts
  electron/main/services/notifications/SMSService.ts
Due: eslint --fix

feat(security): update content security policy
  index.html
Due: none

Add full-spectrum audit report, audit prompt, operations runbook, and role-guards test
  AUDIT_PROMPT.md
  AUDIT_REPORT_2026.md
  OPERATIONS_RUNBOOK.md
  electron/main/__tests__/role-guards.test.ts
Due: eslint --fix, npx markdownlint-cli --fix

feat: add validatedHandler utility with Zod schemas and RBAC
  .github/workflows/build.yml
  DEPENDENCY_OVERRIDES.md
  docs/MIGRATION_ROLLBACK_STRATEGY.md
  electron/main/ipc/__tests__/ipc-contract-parity.test.ts
  electron/main/ipc/__tests__/validated-handler.test.ts
  electron/main/ipc/finance/finance-handler-utils.ts
  electron/main/ipc/ipc-result.ts
  electron/main/ipc/messaging/message-handlers.ts
  electron/main/ipc/schemas/staff-schemas.ts
  electron/main/ipc/schemas/transaction-schemas.ts
  electron/main/ipc/staff/staff-handlers.ts
  electron/main/ipc/student/student-handlers.ts
  electron/main/ipc/system/system-handlers.ts
  electron/main/ipc/transactions/transactions-handlers.ts
  electron/main/ipc/validated-handler.ts
  electron/main/services/reports/NEMISExportService.ts
  electron/preload/api/students.ts
  src/pages/Finance/Settings/GLAccountManagement.tsx
  src/pages/Students/index.tsx
  src/stores/index.ts
  src/types/electron-api/StudentAPI.ts
Due: eslint --fix, npx markdownlint-cli --fix

feat(academic): implement per-exam rankings and enhanced report card design
  electron/main/ipc/academic/reportcard-handlers.ts
  electron/preload/api/reports.ts
  src/pages/Reports/ReportCards.tsx
  src/types/electron-api/ReportsAPI.ts
  src/utils/exporters/reportCardExporter.ts
  src/utils/reportCardGenerator.ts
Due: eslint --fix

fix(finance): stabilize logic across core financial services and UI
  electron/main/services/accounting/DoubleEntryJournalService.ts
  electron/main/services/finance/CreditAutoApplicationService.ts
  electron/main/services/finance/FeeProrationService.ts
  electron/main/services/finance/FixedAssetService.ts
  electron/main/services/finance/HireService.ts
  electron/main/services/finance/PayrollJournalService.ts
  electron/main/services/finance/ScholarshipService.ts
  electron/main/services/reports/AgedReceivablesService.ts
  electron/main/services/reports/NEMISExportService.ts
  src/pages/Finance/FeePayment.tsx
  src/pages/Finance/FeeStructure.tsx
  src/pages/Finance/Invoices.tsx
  src/pages/Finance/RecordExpense.tsx
  src/pages/Finance/RecordIncome.tsx
  src/pages/Finance/Transactions.tsx
Due: eslint --fix

refactor: modularize PaymentService and achieve clean lint status
  electron/main/services/finance/InvoiceValidator.ts
  electron/main/services/finance/PaymentRepositories.ts
  electron/main/services/finance/PaymentService.internal.ts
  electron/main/utils/image-utils.ts
  eslint.config.js
  package.json
  src/components/ErrorBoundary.tsx
  src/pages/Dashboard.tsx
  src/stores/index.ts
Due: eslint --fix

style: finalize UI refinements and miscellaneous utility updates
  electron/main/ipc/student/__tests__/student-handlers.test.ts
  src/pages/Communications/CommunicationLog.tsx
  src/pages/Finance/FixedAssets/AssetRegister.tsx
  src/pages/Finance/StudentCost/StudentCostAnalysis.tsx
  src/pages/Login.tsx
  src/pages/Reports/ScheduledReports.tsx
  src/pages/Reports/index.tsx
  src/pages/Settings/MessageTemplates.tsx
  src/pages/Settings/index.tsx
  src/pages/Students/Promotions.tsx
  src/pages/Students/StudentForm.tsx
  src/pages/Students/index.tsx
  src/utils/filters.ts
  src/utils/print.ts
Due: eslint --fix

fix(services): finalize core logic stabilization and UI refinements
  electron/main/services/SystemMaintenanceService.ts
  electron/main/services/academic/AcademicSystemService.ts
  electron/main/services/academic/CBCReportCardService.ts
  electron/main/services/academic/CBCReportCardService.types.ts
  electron/main/services/academic/ReportCardService.ts
  electron/main/services/accounting/BudgetEnforcementService.ts
  electron/main/services/accounting/OpeningBalanceService.ts
  electron/main/services/accounting/ProfitAndLossService.ts
  electron/main/services/accounting/SystemAccounts.ts
  electron/main/services/finance/BankReconciliationService.ts
  electron/main/services/inventory/InventoryService.ts
  electron/main/services/maintenance/seed-constants.ts
  src/components/feedback/PrintPreviewHost.tsx
  src/pages/Attendance/index.tsx
Due: eslint --fix

docs: add code signing configuration documentation
  CODE_SIGNING_CONFIG.md
Due: npx markdownlint-cli --fix

chore: update infrastructure, configuration, and auditing
  .github/workflows/build.yml
  AUDIT_PROMPT.md
  AUDIT_REPORT_2026.md
  electron/main/services/accounting/DoubleEntryJournalService.ts
  electron/main/services/finance/PaymentService.internal.ts
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, npx markdownlint-cli --fix

feat: enhance security & session management
  electron/main/database/migrations/incremental/1024_login_rate_limit.ts
  electron/main/security/session.ts
Due: eslint --fix

feat: IPC contracts, API types and preload definitions
  electron/main/ipc/schemas/bank-schemas.ts
  electron/main/ipc/schemas/finance-transaction-schemas.ts
  electron/main/ipc/schemas/reports-schemas.ts
  electron/preload/types.ts
  src/types/electron-api/AcademicAPI.ts
  src/types/electron-api/FinanceAPI.ts
  src/types/electron-api/SettingsAPI.ts
  src/types/electron-api/StaffAPI.ts
  src/types/electron-api/StudentAPI.ts
Due: eslint --fix

feat: academic, student & CBC services
  electron/main/ipc/academic/academic-handlers.ts
  electron/main/services/academic/__tests__/AttendanceService.test.ts
  electron/main/services/academic/__tests__/CBCReportCardService.test.ts
  electron/main/services/academic/__tests__/ExamAnalysisService.test.ts
  electron/main/services/academic/__tests__/MeritListService.test.ts
  electron/main/services/academic/__tests__/PerformanceAnalysisService.test.ts
  electron/main/services/academic/__tests__/PromotionService.test.ts
  electron/main/services/cbc/__tests__/CBCStrandService.test.ts
  electron/main/services/cbc/__tests__/JSSTransitionService.test.ts
Due: eslint --fix

feat: finance, accounting, and approval services
  electron/main/ipc/auth/auth-handlers.ts
  electron/main/ipc/finance/__tests__/approval-handlers.test.ts
  electron/main/ipc/finance/__tests__/bank-handlers.test.ts
  electron/main/ipc/finance/__tests__/finance-handlers.test.ts
  electron/main/ipc/hire/__tests__/hire-handlers.test.ts
  electron/main/ipc/operations/operations-handlers.ts
  electron/main/ipc/payroll/__tests__/payroll-handlers.test.ts
  electron/main/ipc/transactions/__tests__/transactions-handlers.test.ts
  electron/main/services/accounting/__tests__/CashFlowStatementService.test.ts
  electron/main/services/accounting/__tests__/OpeningBalanceService.test.ts
  electron/main/services/accounting/__tests__/ReconciliationService.test.ts
  electron/main/services/accounting/__tests__/StudentLedgerService.test.ts
  electron/main/services/approval/__tests__/ApprovalWorkflowService.test.ts
  electron/main/services/finance/__tests__/BankReconciliationService.test.ts
  electron/main/services/finance/__tests__/CashFlowService.test.ts
  electron/main/services/finance/__tests__/CreditAutoApplicationService.test.ts
  electron/main/services/finance/__tests__/FeeProrationService.test.ts
  electron/main/services/finance/__tests__/HireService.test.ts
  electron/main/services/finance/__tests__/PaymentIntegrationService.test.ts
  electron/main/services/finance/__tests__/PaymentService.test.ts
  electron/main/services/finance/__tests__/PeriodLockingService.test.ts
  electron/main/services/finance/__tests__/ScholarshipService.test.ts
  electron/main/services/operations/__tests__/GrantTrackingService.test.ts
  electron/main/services/operations/__tests__/OperationsExpenseServices.test.ts
  electron/main/services/workflow/__tests__/ApprovalWorkflowService.test.ts
Due: eslint --fix

feat: reports, notifications, and utilities
  electron/main/ipc/data/__tests__/import-handlers.test.ts
  electron/main/ipc/data/import-handlers.ts
  electron/main/ipc/notifications/__tests__/notification-handlers.test.ts
  electron/main/ipc/notifications/notification-handlers.ts
  electron/main/ipc/reports/__tests__/financial-summary-parity.test.ts
  electron/main/ipc/reports/__tests__/reports-handlers.test.ts
  electron/main/ipc/reports/__tests__/scheduler-handlers.test.ts
  electron/main/services/reports/__tests__/AgedReceivablesService.normalization.test.ts
  electron/main/services/reports/__tests__/AgedReceivablesService.test.ts
  electron/main/services/reports/__tests__/CashFlowStatementService.test.ts
  electron/main/services/reports/__tests__/NEMISExportService.test.ts
  electron/main/services/reports/__tests__/ReportScheduler.test.ts
  electron/main/services/reports/__tests__/SegmentProfitabilityService.test.ts
  electron/main/services/reports/__tests__/StudentLedgerService.test.ts
  src/utils/exporters/reportCardExporter.ts
  src/utils/print.ts
  src/utils/runtimeError.ts
Due: eslint --fix

test: integration and general backend tests
  electron/main/__tests__/integration/balance-sheet.integration.test.ts
  electron/main/__tests__/integration/financial.integration.test.ts
  electron/main/__tests__/integration/workflows.integration.test.ts
  electron/main/database/migrations/__tests__/incremental-migrations.test.ts
  electron/main/ipc/__tests__/ipc-contract-parity.test.ts
  electron/main/services/__tests__/BackupService.test.ts
  electron/main/services/__tests__/workflows.integration.test.ts
Due: eslint --fix

feat(ui): UI components and frontend foundations
  src/components/ErrorBoundary.tsx
  src/components/feedback/PrintPreviewHost.tsx
  src/components/layout/useLoadGlobalSettings.ts
  src/components/patterns/InstitutionalHeader.tsx
  src/components/patterns/StatCard.tsx
  src/components/ui/Table/DataTable.tsx
Due: eslint --fix

feat(ui): academic & student frontend pages
  src/pages/Academic/AwardsManagement.tsx
  src/pages/Academic/ExamAnalytics.tsx
  src/pages/Academic/ExamManagement.tsx
  src/pages/Academic/ExamScheduler.tsx
  src/pages/Academic/MarksEntry.tsx
  src/pages/Academic/MeritLists.tsx
  src/pages/Academic/MostImproved.tsx
  src/pages/Academic/ReportCardAnalytics.tsx
  src/pages/Academic/ReportCardGeneration.tsx
  src/pages/Academic/SubjectManagement.tsx
  src/pages/Academic/SubjectMeritLists.tsx
  src/pages/Academic/TeacherAllocation.tsx
  src/pages/Attendance/index.tsx
  src/pages/Students/StudentForm.tsx
  src/pages/Students/index.tsx
Due: eslint --fix

feat(ui): finance, settings, payroll, inventory pages
  src/pages/Finance/AssetHire.tsx
  src/pages/Finance/Budget/CreateBudget.tsx
  src/pages/Finance/Budget/index.tsx
  src/pages/Finance/CashFlow/index.tsx
  src/pages/Finance/FeeExemptions.tsx
  src/pages/Finance/FinancialReports.tsx
  src/pages/Finance/components/PaymentEntryForm.tsx
  src/pages/Finance/components/StudentLedgerSearch.tsx
  src/pages/Inventory/index.tsx
  src/pages/Payroll/PayrollRun.tsx
  src/pages/Settings/index.tsx
Due: eslint --fix

fix(types): resolve final typescript strict errors for frontend pages
  electron/main/ipc/student/__tests__/student-handlers.test.ts
  src/pages/Academic/MarksEntry.tsx
  src/pages/AuditLog/index.tsx
  src/repro-conflict.ts
  status.txt
  tsc_errors.txt
Due: eslint --fix

Remove obsolete files
  AUDIT_REPORT.md
  REMEDIATION_CHECKLIST.md
  audit-full.json
  status.txt
  tsc_errors.txt
Due: npx markdownlint-cli --fix

chore(deps): resolve audit vulnerabilities and refresh lint stack
  DEPENDENCY_OVERRIDES.md
  eslint.config.js
  package-lock.json
  package.json
Due: npx markdownlint-cli --fix

fix(core): close wave1 settings, notification, purge, and migration issues
  electron/main/database/verify_migrations.ts
  electron/main/ipc/academic/__tests__/academic-system-handlers.test.ts
  electron/main/ipc/student/__tests__/student-handlers.test.ts
  electron/main/ipc/student/student-handlers.ts
  electron/main/services/academic/AcademicSystemService.ts
  electron/main/services/notifications/NotificationService.ts
  electron/main/services/notifications/__tests__/NotificationService.test.ts
  electron/preload/types.ts
  src/pages/Settings/index.tsx
Due: eslint --fix

feat(security): enforce contracts, audit trails, and updater role guards
  electron/main/__tests__/ipc-handlers.test.ts
  electron/main/index.ts
  electron/main/ipc/academic/reportcard-handlers.ts
  electron/main/ipc/auth/__tests__/auth-handlers.test.ts
  electron/main/ipc/auth/auth-handlers.ts
  electron/main/ipc/schemas/settings-schemas.ts
  electron/main/ipc/settings/__tests__/settings-handlers.test.ts
  electron/main/services/ConfigService.ts
  electron/main/services/__tests__/ConfigService.test.ts
  electron/main/services/academic/__tests__/AcademicSystemService.audit.test.ts
  electron/main/updates/__tests__/autoUpdater.test.ts
  electron/main/updates/autoUpdater.ts
  electron/preload/api/settings.ts
  src/components/layout/useElectronLayoutEvents.ts
  src/pages/Settings/Integrations.tsx
  src/types/electron-api/UpdateAPI.ts
Due: eslint --fix

refactor(types): remove unsafe cast patterns across renderer and preload
  electron/main/services/__tests__/BackupService.test.ts
  electron/main/services/__tests__/SystemMaintenanceService.test.ts
  electron/main/services/academic/__tests__/CBCReportCardService.test.ts
  electron/main/services/reports/__tests__/ReportScheduler.test.ts
  electron/preload/roleFilter.ts
  src/components/ErrorBoundary.tsx
  src/components/layout/__tests__/nav-utils.test.ts
  src/components/patterns/InstitutionalHeader.tsx
  src/components/ui/Table/DataTable.tsx
  src/pages/Academic/AwardsManagement.tsx
  src/pages/Academic/ExamManagement.tsx
  src/pages/Academic/TeacherAllocation.tsx
  src/pages/Attendance/index.tsx
  src/pages/Finance/AssetHire.tsx
  src/pages/Finance/Budget/CreateBudget.tsx
  src/pages/Finance/FeeExemptions.tsx
  src/pages/Finance/components/PaymentEntryForm.tsx
  src/pages/Inventory/index.tsx
  src/pages/Payroll/PayrollRun.tsx
  src/pages/Reports/index.tsx
  src/pages/Students/StudentForm.tsx
  src/pages/Students/index.tsx
Due: eslint --fix

chore(quality): harden CI, coverage, e2e, migration policy, and scripts
  .dependency-cruiser.cjs
  .github/workflows/build.yml
  docs/developer-guide/architecture.md
  docs/developer-guide/migration-rollback-policy.md
  electron/main/database/migrations/__tests__/incremental-migrations.test.ts
  electron/main/database/migrations/rollback-policy.ts
  scripts/check-user-1.cjs
  scripts/check-users.cjs
  scripts/lib/db-path.cjs
  scripts/verify-encryption.ts
  tests/e2e/fee-payment.spec.ts
  tests/e2e/smoke.spec.ts
  vitest.config.ts
Due: eslint --fix, npx markdownlint-cli --fix

docs(audit): add full audit report and completed remediation checklist
  AUDIT_REPORT.md
  REMEDIATION_CHECKLIST.md
Due: npx markdownlint-cli --fix

Remove obsolete files
  AUDIT_REPORT.md
  REMEDIATION_CHECKLIST.md
Due: npx markdownlint-cli --fix

chore(audit): add checklist and IPC governance tooling
  REMEDIATION_CHECKLIST.md
  docs/ipc-domain-owners.md
  ipc-manifest.json
  package.json
  scripts/check-audit-checklist.cjs
  scripts/check-critical-coverage.cjs
  scripts/check-doc-consistency.cjs
  scripts/check-ipc-manifest.cjs
  scripts/generate-ipc-manifest.cjs
  scripts/generate-ipc-manifest.ts
  scripts/lib/ipc-manifest.cjs
Due: eslint --fix, npx markdownlint-cli --fix

ci(docs): align gates, workflows, and standards
  .dependency-cruiser.cjs
  .github/workflows/build.yml
  CODE_SIGNING_CONFIG.md
  CODING_STANDARDS.md
  OPERATIONS_RUNBOOK.md
  docs/getting-started.md
  vitest.config.ts
Due: eslint --fix, npx markdownlint-cli --fix
