Repository Lameck1/mwingi-school-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx markdownlint-cli --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "npx markdownlint-cli --fix",
    "git add"
  ]
}

fix: add missing vitest import to utilities.test.ts
  src/utils/__tests__/utilities.test.ts
Due: eslint --fix

fix(accounting): Correct Balance Sheet Net Income calculation and equation
  electron/main/__tests__/integration/balance-sheet.integration.test.ts
  electron/main/services/SystemMaintenanceService.ts
  electron/main/services/accounting/DoubleEntryJournalService.ts
  src/hooks/useScrollableTabNav.ts
  src/pages/Finance/Reports/BalanceSheet.tsx
  src/pages/Reports/index.tsx
  src/pages/Settings/index.tsx
  src/types/electron-api/ReportsAPI.ts
Due: eslint --fix

feat(ui): Update shared UI components and utilities
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/Layout.tsx
  src/components/feedback/OfflineIndicator.tsx
  src/components/feedback/PrintPreviewHost.tsx
  src/components/patterns/CommandPalette.tsx
  src/components/patterns/HubBreadcrumb.tsx
  src/components/patterns/InstitutionalHeader.tsx
  src/components/patterns/PageHeader.tsx
  src/components/ui/EmptyState.tsx
  src/components/ui/ImportDialog.tsx
  src/components/ui/Input.tsx
  src/components/ui/Modal.tsx
  src/components/ui/ProgressBar.tsx
  src/components/ui/Select.tsx
  src/components/ui/Skeleton.tsx
  src/components/ui/Tooltip.tsx
  src/index.css
  src/utils/exporters/pdfExporter.ts
  src/utils/print.ts
Due: eslint --fix

refactor(finance): Split createFinanceAPI to resolve lint errors and commit pending types
  electron/preload/api/finance.ts
  src/types/electron-api/AcademicAPI.ts
  src/types/electron-api/FinanceAPI.ts
  src/types/electron-api/PayrollAPI.ts
Due: eslint --fix

docs: Update quality gates documentation
  docs/QUALITY_GATES.md
Due: npx markdownlint-cli --fix

feat(academic): update academic module pages and components
  src/pages/Academic/CBC/CBCStrandManagement.tsx
  src/pages/Academic/CBC/JSSTransition.tsx
Due: eslint --fix

feat(finance): update finance module pages and logic
  src/pages/Finance/FixedAssets/__tests__/depreciation.logic.test.ts
  src/pages/Finance/FixedAssets/depreciation.logic.ts
  src/pages/Finance/Reconciliation/__tests__/reconcile.logic.test.ts
  src/pages/Finance/Reconciliation/reconcile.logic.ts
  src/pages/Finance/__tests__/finance.validation.test.ts
  src/pages/Finance/finance.validation.ts
Due: eslint --fix

chore: track global type definitions
  src/types/global.d.ts
Due: eslint --fix

chore: resolve lint issues and align lint tooling
  .dependency-cruiser.cjs
  electron/main/__tests__/integration/balance-sheet.integration.test.ts
  electron/main/database/migrations/incremental/README.md
  electron/main/database/schema/fragments/040_archive_restorations.ts
  electron/main/ipc/reports/__tests__/financial-summary-parity.test.ts
  electron/main/ipc/reports/__tests__/reports-handlers.test.ts
  electron/main/services/BackupService.ts
  electron/main/services/SystemMaintenanceService.ts
  electron/main/services/__tests__/BackupService.test.ts
  electron/main/services/academic/CBCReportCardService.ts
  electron/main/services/accounting/DoubleEntryJournalService.ts
  electron/main/services/base/ServiceContainer.ts
  electron/main/services/finance/PaymentService.internal.ts
  electron/main/services/reports/ReportScheduler.ts
  eslint.config.js
  package.json
  src/pages/Academic/TeacherAllocation.tsx
  src/pages/Finance/Approvals/ApprovalQueue.tsx
  src/pages/Finance/AssetHire.tsx
  src/pages/Finance/CBC/CBCStrandManagement.tsx
  src/pages/Finance/CBC/JSSTransition.tsx
  src/pages/Finance/FeeExemptions.tsx
  src/pages/Finance/FeePayment.tsx
  src/pages/Finance/FeeStructure.tsx
  src/pages/Finance/FinancialReports.tsx
  src/pages/Finance/RecordExpense.tsx
  src/pages/Finance/RecordIncome.tsx
  src/pages/Finance/Reports/BalanceSheet.tsx
  src/pages/Finance/Reports/ProfitAndLoss.tsx
  src/pages/Finance/Reports/TrialBalance.tsx
  src/pages/Finance/Transactions.tsx
  src/pages/Inventory/index.tsx
  src/pages/Payroll/PayrollRun.tsx
  src/pages/Reports/index.tsx
Due: eslint --fix, npx markdownlint-cli --fix

refactor: address audit findings (accounting integrity, safeguards, consistency)
  electron/main/services/academic/ExamAnalysisService.ts
  electron/main/services/academic/PromotionService.ts
  electron/main/services/accounting/DoubleEntryJournalService.ts
  electron/main/services/accounting/SystemAccounts.ts
  electron/main/services/finance/PaymentService.internal.ts
  electron/main/services/finance/PaymentService.ts
  electron/main/services/finance/ScholarshipService.ts
  electron/main/services/inventory/InventoryService.ts
  electron/main/services/operations/BoardingCostService.ts
Due: eslint --fix

feat: Add migration 1012 (void reversal) and update AttendanceService for race condition handling
  docs/CODEBASE_AUDIT.md
  docs/QUALITY_GATES.md
  docs/README.md
  docs/remediation-checklist.md
  docs/remediation-closeout.md
  docs/remediation-plan.md
  electron/main/__tests__/integration/attendance.integration.test.ts
  electron/main/__tests__/integration/financial.integration.test.ts
  electron/main/__tests__/integration/workflows.integration.test.ts
  electron/main/database/migrations/incremental/1012_add_void_reversal_type.ts
  electron/main/database/migrations/index.ts
  electron/main/index.ts
  electron/main/ipc/finance/finance-handler-utils.ts
  electron/main/ipc/finance/types.ts
  electron/main/ipc/student/student-handlers.ts
  electron/main/services/academic/AcademicSystemService.ts
  electron/main/services/academic/AttendanceService.ts
  electron/main/services/accounting/DoubleEntryJournalService.ts
  electron/main/services/accounting/SystemAccounts.ts
  electron/main/services/finance/FeeProrationService.ts
  electron/main/services/finance/PaymentService.internal.ts
Due: eslint --fix, npx markdownlint-cli --fix

fix: flatten ElectronAPI type and preload to resolve 277 TS errors
  electron/preload/index.ts
  src/types/electron-api/FinanceAPI.ts
  src/types/electron-api/SettingsAPI.ts
  src/types/electron-api/index.ts
Due: eslint --fix

fix: resolve remaining 15 frontend TypeScript errors
  src/pages/Finance/Approvals/ApprovalQueue.tsx
  src/pages/Finance/AssetHire.tsx
  src/pages/Finance/CBC/JSSTransition.tsx
  src/pages/Finance/Grants/GrantTracking.tsx
  src/pages/Finance/components/LedgerHistory.tsx
  src/pages/Finance/components/PaymentEntryForm.tsx
  src/pages/Operations/Transport/TransportRouteManagement.tsx
  src/pages/Settings/index.tsx
Due: eslint --fix

fix: resolve 3 ESLint import order warnings
  electron/main/ipc/finance/budget-handlers.ts
  electron/main/ipc/finance/period-handlers.ts
  electron/main/ipc/index.ts
Due: eslint --fix

fix: implement Phase 2-4 business logic remediation fixes
  electron/main/ipc/finance/finance-handlers.ts
  electron/main/ipc/payroll/payroll-handlers.ts
  electron/main/ipc/student/student-handlers.ts
  electron/main/services/data/DataImportService.ts
  electron/main/services/finance/BankReconciliationService.ts
  electron/main/services/finance/CreditAutoApplicationService.ts
  electron/main/services/finance/FixedAssetService.ts
  electron/main/services/finance/PaymentService.internal.ts
  electron/main/services/operations/GrantTrackingService.ts
  electron/main/services/operations/TransportCostService.ts
Due: eslint --fix

fix: add schema migration 1014 for remediation fixes
  electron/main/database/migrations/incremental/1014_remediation_schema_fixes.ts
  electron/main/database/migrations/index.ts
Due: eslint --fix

fix: update IPC infrastructure and type definitions
  electron/main/index.ts
  electron/main/ipc/auth/auth-handlers.ts
  electron/main/ipc/finance/finance-handler-utils.ts
  electron/main/ipc/finance/types.ts
  electron/main/ipc/ipc-result.ts
Due: eslint --fix

fix: enhance service layer with improved business logic
  electron/main/services/academic/ExamAnalysisService.ts
  electron/main/services/accounting/SystemAccounts.ts
  electron/main/services/finance/FeeProrationService.ts
  electron/main/services/finance/HireService.ts
  electron/main/services/finance/PeriodLockingService.ts
  electron/main/services/finance/ScholarshipService.ts
  electron/main/services/workflow/ApprovalService.ts
Due: eslint --fix

test: update integration tests for remediation fixes
  electron/main/__tests__/integration/attendance.integration.test.ts
  electron/main/__tests__/integration/financial.integration.test.ts
Due: eslint --fix

fix: add financial period status migration 1013
  electron/main/database/migrations/incremental/1013_financial_period_status.ts
Due: eslint --fix

🔒 Production readiness: Address all security and stability concerns
  electron/main/index.ts
  electron/preload/index.ts
  electron/preload/roleFilter.ts
  src/components/ErrorBoundary.tsx
  src/pages/Finance/components/PaymentEntryForm.tsx
Due: eslint --fix

fix: implement audit remediation (R1-R8) — role enforcement, session validation, CSP, payroll journal entries
  electron/main/index.ts
  electron/main/ipc/auth/auth-handlers.ts
  electron/main/ipc/backup/backup-handlers.ts
  electron/main/ipc/finance/finance-handlers.ts
  electron/main/ipc/payroll/payroll-handlers.ts
  electron/main/ipc/transactions/transactions-handlers.ts
  electron/main/utils/validation.ts
  electron/preload/api/system.ts
  electron/preload/index.ts
  src/types/electron-api/BackupAPI.ts
Due: eslint --fix

test: fix tests broken by audit remediation refactor
  electron/main/__tests__/ipc-handlers.test.ts
  electron/main/ipc/finance/__tests__/finance-handlers.test.ts
  src/utils/__tests__/validation.test.ts
Due: eslint --fix

test: fix pre-existing test schema mismatches
  electron/main/services/finance/__tests__/BankReconciliationService.test.ts
  electron/main/services/finance/__tests__/ScholarshipService.test.ts
  electron/main/services/operations/__tests__/OperationsExpenseServices.test.ts
Due: eslint --fix

feat: complete forensic audit remediation and seed refactoring
  AUDIT_REPORT.md
  electron/main/__tests__/integration/financial.integration.test.ts
  electron/main/database/migrations/incremental/1015_seed_missing_system_accounts.ts
  electron/main/database/migrations/index.ts
  electron/main/database/seeds/core_seed.ts
  electron/main/ipc/finance/finance-handlers.ts
  electron/main/ipc/payroll/payroll-handlers.ts
  electron/main/services/accounting/SystemAccounts.ts
  src/pages/Finance/components/PaymentEntryForm.tsx
Due: eslint --fix, npx markdownlint-cli --fix

Harden IPC/session contracts and fix strict TS regressions
  electron/main/ipc/auth/auth-handlers.ts
  electron/main/ipc/finance/reconciliation-budget-handlers.ts
  electron/main/ipc/staff/staff-handlers.ts
  electron/main/services/finance/PaymentService.ts
  electron/main/services/finance/PayrollJournalService.ts
  electron/main/services/notifications/NotificationService.ts
  electron/main/services/reports/SegmentProfitabilityService.ts
  electron/preload/index.ts
  tsconfig.node.json
Due: eslint --fix

Delete AUDIT REPORT
  AUDIT_REPORT.md
Due: npx markdownlint-cli --fix

Fix finance remediation issues and make TS/test suite green
  REMEDIATION_CHECKLIST.md
  electron/main/ipc/finance/__tests__/finance-handlers.test.ts
  electron/main/ipc/finance/finance-handlers.ts
  electron/main/ipc/transactions/__tests__/transactions-handlers.test.ts
  electron/main/services/academic/CBCReportCardService.ts
  electron/main/services/accounting/DoubleEntryJournalService.ts
  electron/main/services/cbc/JSSTransitionService.ts
  electron/main/services/finance/FeeProrationService.ts
  electron/main/services/finance/PaymentService.internal.ts
  electron/main/services/finance/PeriodLockingService.ts
  electron/main/services/finance/__tests__/PaymentService.test.ts
  electron/main/services/operations/TransportCostService.ts
  electron/main/services/reports/SegmentProfitabilityService.ts
  electron/preload/types.ts
  src/pages/Settings/Integrations.tsx
  src/pages/Students/StudentForm.tsx
  src/types/electron-api/StudentAPI.ts
  tests/e2e/main-workflows.spec.ts
Due: eslint --fix, npx markdownlint-cli --fix

docs: finalize audit report and remediation checklist
  AUDIT_REPORT.md
  REMEDIATION_CHECKLIST.md
Due: npx markdownlint-cli --fix

fix(payroll): normalize unexpected payroll statuses
  src/pages/Payroll/PayrollRun.tsx
  src/pages/Payroll/__tests__/payrollStatus.test.ts
  src/pages/Payroll/payrollStatus.ts
Due: eslint --fix

fix(academic): provide actionable promotion failure feedback
  electron/main/services/academic/PromotionService.ts
  electron/main/services/academic/__tests__/PromotionService.test.ts
  src/pages/Students/Promotions.tsx
  src/pages/Students/__tests__/promotion-feedback.logic.test.ts
  src/pages/Students/promotion-feedback.logic.ts
  src/types/electron-api/AcademicAPI.ts
Due: eslint --fix

Edit Nav route
  src/components/layout/NavTree.tsx
  src/components/layout/__tests__/nav-utils.test.ts
  src/components/layout/nav-utils.ts
Due: eslint --fix

fix(reports): include receipt-linked student payments in opening ledger
  electron/main/services/accounting/OpeningBalanceService.ts
  electron/main/services/accounting/__tests__/OpeningBalanceService.test.ts
Due: eslint --fix

feat(ui): harden payroll and promotion feedback flows
  src/components/ui/ConfirmDialog.tsx
  src/components/ui/ImportDialog.tsx
  src/pages/Academic/CBC/JSSTransition.tsx
  src/pages/Finance/CBC/CBCStrandManagement.tsx
  src/pages/Finance/CBC/JSSTransition.tsx
  src/pages/Payroll/PayrollRun.tsx
  src/pages/Students/Promotions.tsx
  src/types/electron-api/DataImportAPI.ts
  src/utils/runtimeError.ts
Due: eslint --fix

docs(audit): update launch remediation evidence and gate outputs
  AUDIT_REPORT.md
  REMEDIATION_CHECKLIST.md
Due: npx markdownlint-cli --fix
